name: build
on: push
jobs:
  build:
    runs-on: macos-latest
    steps:
        - uses: actions/checkout@main
        - uses: actions/setup-node@v4
          with:
            node-version: 18
        - run: make setup
        - run: make start
        - name: run tests
          run: make test
        - name: run lint
          run: make lint
